@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Playfair+Display:wght@400;700&display=swap');

* {

  margin: 0;
  padding: 0;
}

:root {
  --RichBlack: #03071e;
  --VenetianRed: #6a040f;
  --Tangerine: #f48c06;
  --SelectiveYellow: #ffba08;
}

body {
  
  font-family: 'Playfair Display', serif;
  color: var(--RichBlack);
}

a {
  font-family: 'Montserrat', sans-serif;
}

.header-top {
  display: flex;
  justify-content: space-between;
  background-color: var(--Tangerine);
  align-items: center;
}
.medsos {
  padding: 5px 0;
  background-color: var(--Tangerine);
}


.medsos a{
  padding: 0 8px;
  font-size: 20px;
  color:var(--RichBlack);
}
.medsos a:hover {
  

  color:var(--SelectiveYellow);
}

.theme {
  padding: 5px 8px;
}

.theme:hover {
  cursor: pointer;
  background-color: var(--VenetianRed);
}

.containers {
  width: 80%;
  margin:0 auto;
  border: 1px solid;
  
}
header {
  border: 1px solid;
  display:flex;
  justify-content: space-between;
  background-color: var(--SelectiveYellow);
} 

.navigation a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 8px;
  color: var(--RichBlack);
  line-height: 72px;
  font-family: Montserrat;
  font-weight: 500;
  
}

.navigation a:hover {
  background-color: var(--VenetianRed);
  color: var(--j-hope);
  line-height: 72px;
}

.navigation {
  display:flex;
  align-items: center;
}

.mobile-nav{
  position: fixed;
  bottom:0;
  background-color:var(--RichBlack);
  z-index: 10;
  width: 100%;
  font-size: 25px;
  display: none;
  justify-content: space-around;
  padding:16px 0;

}
.mobile-nav a{
  text-decoration: none;
  color:var(--SelectiveYellow);
  
}



header h1 {
  padding: 15px;
  
}


.home{
  background-image:url(./image1/background22.png);
  height:500px;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-size: cover;
  animation-name: home;
  animation-duration: 4s;
}

@keyframes home {
  0% {font-size: 0px;}
  20% {font-size: 10px;}
  40% {font-size: 12px;}
  60% {font-size: 24px;}
  80% {font-size: 12px;}
  100% {font-size: 24px;}
 
}






.top-wrapper {
  display: flex;
  justify-content:space-between;
  padding: 0 145px;
  margin-top: 32px;
  padding-top: 80px;
  margin-bottom: 40px;
  
}

.content {
  order: 1;
  flex: 3;
  margin-left: 32px;
}
.content h1 {
  
  font-family: Playfair Display;
  
  font-weight: 700;
  font-size: 48px;
  align-items: center;
  text-align: center;
  
  
  

}

.content p {
  /* Header 1 */
  
  font-family: Montserrat;
  
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  text-align: justify;
  letter-spacing: -0.02em;


}

.image {
  order: 0;
  flex:1;
  
}

.image img{
  width:350px;
}

.content-align {
  order: 1;
  flex: 2;
  margin-left: 32px;
}

.heading {
  display:flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  margin:45px 134px;
}

.education {
  padding-bottom: 40px;
  border-bottom: 1px solid var(--Tangerine); 
  
}
  
.educations {
  margin-top: 120px;
  padding-top: 80px;
  
  
}


.resume {
  width: 300px;
  
}

.contact-form {
  padding-top: 60px;
  margin-top: 260px;

}

input {
  border-radius: 15px;
  height: 40px;
  padding:0 8px;
  width: 320px;
  margin:8px 0;
}
textarea {
  border-radius: 15px;
  padding:0 8px;
  height: 96px;
  width: 320px;
  margin: 8px 0;
}

.button {
  width: 219px;
  height: 24px;
}

.form-group {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: var(--Tangerine);
  margin-top: 80px;
  color:var(--RichBlack);
  padding: 24px 134px;

  
}
.footer h1{
  font-size: 15px;
}

.darkmode {
  color:var(--SelectiveYellow);
  background-color: var(--RichBlack);
}

.darkmode .home h1,
.darkmode .home p,
.darkmode header,
.darkmode .theme {
  color: var(--RichBlack);
}

