@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Playfair+Display:wght@400;700&display=swap');

* {

  margin: 0;
  padding: 0;
}

:root {
  --jungkook: #515159;
  --kimtaehyung: #E2AD9F;
  --parkjimin: #9DB5B4;
  --j-hope: #DADBDD;
}

body {
  
  font-family: 'Playfair Display', serif;
  color: var(--jungkook);
}

a {
  font-family: 'Montserrat', sans-serif;
}

.header-top {
  display: flex;
  justify-content: space-between;
  background-color: var(--parkjimin);
  align-items: center;
}
.medsos {
  padding: 5px 0;
  background-color: var(--parkjimin);
}


.medsos img {
  padding: 0 8px;
}

.theme {
  padding: 5px 8px;
}

.theme:hover {
  cursor: pointer;
  background-color: var(--kimtaehyung);
}

.containers {
  width: 80%;
  margin:0 auto;
  border: 1px solid;
  
}
header {
  border: 1px solid;
  display:flex;
  justify-content: space-between;
  background-color: var(--parkjimin);
} 

.navigation a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 8px;
  color: var(--jungkook);
  line-height: 72px;
  font-family: Montserrat;
  font-weight: 500;
  
}

.navigation a:hover {
  background-color: var(--kimtaehyung);
  color: var(--j-hope);
  line-height: 72px;
}

.navigation {
  display:flex;
  align-items: center;
}

.mobile-nav{
  position: fixed;
  bottom:0;
  background-color:var(--jungkook);
  z-index: 10;
  width: 100%;
  font-size: 25px;
  display: none;
  justify-content: space-around;
  padding:16px 0;

}
.mobile-nav a{
  text-decoration: none;
  color:var(--parkjimin)
  
}



header h1 {
  padding: 15px;
  
}


.home{
  background-image:url(./image1/banner11.png);
  height:500px;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-size: cover;
  
}







@keyframes home {
  0% {font-family: "Montserrat, sans-serif";}
  20% {font-family: "Montserrat, sans-serif";}
  40% {font-family: "Montserrat, sans-serif";}
  60% {font-family: "Montserrat, sans-serif";}
  80% {font-family: "Montserrat, sans-serif";}
  100% {font-family: "Montserrat, sans-serif";}
  
}






.top-wrapper {
  display: flex;
  justify-content:space-between;
  padding: 0 145px;
  margin-top: 32px;
  padding-top: 80px;
  margin-bottom: 40px;
  
}

.content {
  order: 1;
  flex: 3;
  margin-left: 32px;
}
.content h1 {
  
  font-family: Playfair Display;
  
  font-weight: 700;
  font-size: 48px;
  align-items: center;
  text-align: center;
  
  
  

}

.content p {
  /* Header 1 */
  
  font-family: Montserrat;
  
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  text-align: justify;
  letter-spacing: -0.02em;


}

.image {
  order: 0;
  flex:1;
  
}

.image img{
  width:350px;
}

.content-align {
  order: 1;
  flex: 2;
  margin-left: 32px;
}

.heading {
  display:flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  margin:45px 134px;
}

.education {
  padding-bottom: 40px;
  border-bottom: 1px solid var(--parkjimin); 
  
}
  
.educations {
  margin-top: 120px;
  padding-top: 80px;
  
  
}


.resume {
  width: 300px;
  
}

.contact-form {
  padding-top: 60px;
  margin-top: 260px;

}

input {
  border-radius: 15px;
  height: 40px;
  padding:0 8px;
  width: 320px;
  margin:8px 0;
}
textarea {
  border-radius: 15px;
  padding:0 8px;
  height: 96px;
  width: 320px;
  margin: 8px 0;
}

.button {
  width: 219px;
  height: 24px;
}

.form-group {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: var(--parkjimin);
  margin-top: 80px;
  color:var(--jungkook);
  padding: 24px 134px;

  
}
.footer h1{
  font-size: 15px;
}

.darkmode {
  color:var(--j-hope);
  background-color: var(--jungkook);
}

/* Humberger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
  background-color: var(--j-hope);
  transform: rotate(45deg) translate(-1px, 1px);
}

.menu-toggle input:checked~span:nth-child(4) {
  background-color: var(--j-hope);
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
  opacity: 0;
  transform: scale(0); 
}